##**@Imports**

In [ ]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from sklearn.cluster import KMeans
import seaborn as sns

##**@Funções**

## **@Upload da Base de Dados**

In [ ]:
dermatologyDb = pd.read_csv('dermatology.data',sep=',');
#dermatologyDb

##**@Pré-Processamento dos dados**

In [ ]:
#Informação do dataset
dermatologyDb.info()

In [ ]:
#Removendo Idade fora do range e removendo strings da Idade.
dbAux = dermatologyDb[dermatologyDb["age"]!= "?"]
dbAux.fillna(method='bfill')
dermatologyDb.age.replace({"?":int(dbAux.age.median())},inplace = True)

In [ ]:
#Verificação de Propriedades
dermatologyDb.describe()

                2         2.1           0  ...         1.1        0.24         2.3
count  365.000000  365.000000  365.000000  ...  365.000000  365.000000  365.000000
mean     2.068493    1.794521    1.553425  ...    1.868493    0.556164    2.805479
std      0.665656    0.702408    0.905126  ...    0.725682    1.107044    1.599441
min      0.000000    0.000000    0.000000  ...    0.000000    0.000000    1.000000
25%      2.000000    1.000000    1.000000  ...    1.000000    0.000000    1.000000
50%      2.000000    2.000000    2.000000  ...    2.000000    0.000000    3.000000
75%      2.000000    2.000000    2.000000  ...    2.000000    0.000000    4.000000
max      3.000000    3.000000    3.000000  ...    3.000000    3.000000    6.000000

[8 rows x 34 columns]

In [ ]:
#Removendo todos nulos
dermatologyDb.dropna()

##**@Aplicação do KMeans**

In [ ]:
#Instaciação KMeans
kmeans = KMeans(n_clusters=6,random_state=0,max_iter=10000000,)

###@Aplicação com todas características

In [ ]:
#Separando somente as características de cada Paciente. 
X = np.array(dermatologyDb.drop('target',axis = 1))
kmeans.fit(X)
dtResultKMeans = dermatologyDb.copy()
dtResultKMeans['Results'] = kmeans.labels_
dtAux = dtResultKMeans[dtResultKMeans['target']==dtResultKMeans['Results']]
precisao = len(dtAux)/len(dtResultKMeans)
print(precisao)
#print(precisao(dtResultKMeans,'target','Results'))

0.1284153005464481

####@Plot

In [ ]:
#Distribuição Sem K-Means
#sns.pairplot(dermatologyDb,hue='target')

In [ ]:
#Distribuição K-Means
#sns.pairplot(dtResultKMeans,hue='Results')

###@Aplicação com características Clínicas

In [ ]:
#Separando somente as características Clínicas de cada Paciente. 
X = np.array((dermatologyDb.drop(dermatologyDb.columns[12:33],axis = 1)).drop(columns=['target'],axis = 1))
kmeans.fit(X)
dtResultKMeans = dermatologyDb.copy()
dtResultKMeans['Results'] = kmeans.labels_
dtAux = dtResultKMeans[dtResultKMeans['target']==dtResultKMeans['Results']]
precisao = len(dtAux)/len(dtResultKMeans)
print(precisao)

0.20765027322404372

####@Plot

In [ ]:
#Distribuição Sem K-Means
#sns.pairplot((dermatologyDb.drop(dermatologyDb.columns[12:33],axis = 1)).drop(columns=['target'],axis = 1),hue='target')

In [1]:
#Distribuição K-Means
#sns.pairplot(dtResultKMeans,hue='Results')

NameError: ignored

###@Aplicação com características Histopatológicas

In [ ]:
#Separando somente as características Clínicas de cada Paciente. 
X = np.array(((dermatologyDb.drop(dermatologyDb.columns[0:11],axis = 1)).drop(columns=['target'],axis = 1).drop(columns=['age'],axis = 1)))
kmeans.fit(X)
dtResultKMeans = dermatologyDb.copy()
dtResultKMeans['Results'] = kmeans.labels_
dtAux = dtResultKMeans[dtResultKMeans['target']==dtResultKMeans['Results']]
precisao = len(dtAux)/len(dtResultKMeans)
print(precisao)

0.27595628415300544

####@Plot

In [ ]:
#Distribuição Sem K-Means
#sns.pairplot(((dermatologyDb.drop(dermatologyDb.columns[0:11],axis = 1)).drop(columns=['target'],axis = 1).drop(columns=['age'],axis = 1)),hue='target')

In [ ]:
#sns.pairplot(dtResultKMeans,hue='Results')